@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$font: 'Press Start 2P', cursive;
$font2: 'Special Elite', cursive;
$blue: lightseagreen;
$yellow: yellow;
$red: red;
$black: black;
$white: white;